/* ------------------------------------------------------------ Bootstrap Grid CSS ---------------------------------------------------- */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF TWO   */


.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 580px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}

/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 580px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}


/* ------------------------------------------------------------ My Styles ----------------------------------------------------------------- */ 

html {
  height: 100%;
  min-height: 100%; 
}

body {
  width: 95%;
  background-color: #fdfdfd;
  margin: 0 auto;
  font-family: "raleway",sans-serif;
  font-weight: 500;
  min-height: 100%;
}

p {
  font-size: 1rem;
  line-height: 1.3rem;
  margin: .7rem 0;
  color: #131313;
}

a {
  text-decoration: none;
  color: #FF503B;
}

a:hover {
  color: #CC3C29;
}

a:active {
  color: #7F342B;
}


h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3rem;
  margin: 3% 0 0 0;
  color: #353535;
}

h1:hover {
  color: #FF503B;
}

h1:active {
  color: #7F342B;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.1rem;
  font-weight: 300;
  margin: .5rem 0 1rem 0;
  color: #353535;
}

h3 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 600;
  color: #353535;
  margin: 0;
}

header {
    min-height: 20%;
}

.header {
  float: left;
  padding-top: 1rem;
}

nav {
  margin: 0 0 1rem 0;
  width: 100%;
  padding: 4.8rem 0 2rem 0;
  float: right;
}

nav ul {
  padding: 0;
}

nav ul li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  display: block;
  padding: 0 3rem 0 0;
  float: right;
  margin: 0;
}

nav ul li a {
  color: #353535;
  font-weight: 500;
}

nav ul li a:hover {
  color: #FF503B;
}

nav ul li a:active {
  color:#7F342B;
}

nav ul li a.current {
  color: #FF503B;  
  font-weight: 600;
}

footer {
  clear: both;
  width: 100%;
  height: 4rem;
}

footer.sticky {
  width: 95%;
}

section.copyright {
  float: left;
}

section.social {
  float: right;
  margin-right: 2%;
}

section.social a {
  padding-left: 20px;
}

section.about-text {
  padding: 1.7rem 3rem;
  margin-left: 3%;
  float: left;
  width: 17rem;
  background: rgba(201,204,203, 0.7); 
  border: 3px solid #eaeaea;
}


img.about-img {
  border-radius: 50%;
  border: 3px solid #eaeaea;
  float: right;
  width: 17rem;
  margin-right: 6%;
}

footer.about {
  padding: 5% 0 0 0 !important;
}

footer.sticky-about {
  width: 95%;
}

footer section.copyright.about p {
  color: #eaeaea;
}

.homepage-bg {
  background: url('../images/homepage-alt2.jpg') no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  min-height: 100%;
}

.about-bg {
  background: url('../images/about-bg.jpg') no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  min-height: 100%;
}

@media screen and (min-width: 1401px) {
.about-top {
    margin-bottom: 6%;
  }
}


.home {
  clear: both;
  width: 25rem;
  padding: 2rem 3rem;
  border: 2px solid #565656;
  margin: 5% auto; 
}

.current-page {
  font-weight: 600;
}

.sticky {
  position: absolute;
  bottom: 0; 
}

.sticky-about {
  position: absolute;
  bottom: 0; 
}


.photography {
  width: 70%;
  max-width: 960px;
  padding: 2rem 0;
}

.first {
 clear: both; 
}

.first-photo {
  margin-top: -1.5rem;
}

.caption-detail {
  margin-top: .5rem; 
  font-style: italic;
}

.camera-info {
  font-size: 1rem;
  line-height: 1.3rem;
  margin-top: .5rem; 
  font-weight: 400;
  padding-bottom: 10px;
}

.photo-date {
  font-weight: 800;
}

.photoset-header {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 100;
}

.vertical {
  max-height: 700px;
  width: auto;
}

.photo-set {
 clear: both; 
}

.thumb {
  width: 95%;
  height: auto;
  margin-bottom: 1rem;
}


.thumbcaption {
  position: absolute;
  width: 45%;
  z-index: 10;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 1rem;
  opacity: 0;
   -webkit-transition: all .7s ease-out 0s;
  -moz-transition: all .7s ease-out 0s;
  -ms-transition: all .7s ease-out 0s;
  -o-transition: all .7s ease-out 0s;
  transition: all .7s ease-out 0s;
}

.thumbcaption h3 {
  color: #ffffff;
  font-size: 1.5rem;
  margin: -45% 0 0 0;
  text-align: center;
}

.thumbcaption p {
  color: #ffffff;
  text-align: center;
}

.thumbcaption-mobile {
  display: none;
}

.thumb1 {
  background-image: url(../images/photography/oregon-coast-01.JPG);
  background-size: cover;
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -ms-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}

.thumb1-overlay {
  background-image: url(../images/photography/oregon-coast-01-overlay.jpg);
  background-size: cover;
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -ms-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}

.thumb2 {
  background-image: url(../images/photography/2015-07-04_01.JPG);
  background-size: cover;
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -ms-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}

.thumb2-overlay {
  background-image: url(../images/photography/2015-07-04_01-overlay.jpg);
  background-size: cover;
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -ms-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}

.thumb3 {
  background-image: url(../images/photography/halloween-2015-02.jpg);
  background-size: cover;
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -ms-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}

.thumb3-overlay {
  background-image: url(../images/photography/halloween-2015-02-overlay.jpg);
  background-size: cover;
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -ms-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}

.thumb4 {
  background-image: url(../images/photography/2015-12_01.jpg);
  background-size: cover;
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -ms-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}

.thumb4-overlay {
  background-image: url(../images/photography/2015-12_01-overlay.jpg);
  background-size: cover;
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -ms-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}

.thumb5 {
  background-image: url(../images/photography/2016-Cadiz-1.jpg);
  background-size: cover;
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -ms-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}

.thumb5-overlay {
  background-image: url(../images/photography/2016-Cadiz-1-overlay.jpg);
  background-size: cover;
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -ms-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}

.thumb6 {
  background-image: url(../images/photography/2016-Granada-1.jpg);
  background-size: cover;
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -ms-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}

.thumb6-overlay {
  background-image: url(../images/photography/2016-Granada-1-overlay.jpg);
  background-size: cover;
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -ms-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}

/*  Font Awesome Icon styline */

i {
  color: #353535;
}

i:hover {
  color: #FF503B;
}

i:active {
  color:#7F342B; 
}

i.about-social {
  color: #eaeaea;
}

i.about-social:hover {
  color: #FF503B;
}

i.about-social:active {
  color: #7F342B;
}



video {
  width: 95%;
  height: auto;
  padding-bottom: 1rem;
}

.video-text {
  padding-right: 2.5rem;
}

/* Video controls */

.video-container {
  width: 100%;
  height: 57%;
}

.video-controls i {
  color: #eaeaea; 
}


.video-controls i:hover {
  color: #FF503B; 
}

.play-pause i {
  color: #FF503B;
}

@media screen and (min-width: 820px) and (max-width: 900px) {
.video-controls {
    position: absolute;
    width: 44%;
    margin-top: 5%;
	padding: 5px;
    z-index: 20;
    -webkit-transition: all .7s ease-out 0s;
    -moz-transition: all .7s ease-out 0s;
    -ms-transition: all .7s ease-out 0s;
    -o-transition: all .7s ease-out 0s;
    transition: all .7s ease-out 0s;
  }
}


@media screen and (min-width: 901px) and (max-width: 980px) {
.video-controls {
    position: absolute;
    width: 44%;
    margin-top: 6%;
	padding: 5px;
    z-index: 20;
    -webkit-transition: all .7s ease-out 0s;
    -moz-transition: all .7s ease-out 0s;
    -ms-transition: all .7s ease-out 0s;
    -o-transition: all .7s ease-out 0s;
    transition: all .7s ease-out 0s;
  }
}

@media screen and (min-width: 981px) and (max-width: 1060px) {
.video-controls {
    position: absolute;
    width: 44%;
    margin-top: 6%;
	padding: 5px;
    z-index: 20;
    -webkit-transition: all .7s ease-out 0s;
    -moz-transition: all .7s ease-out 0s;
    -ms-transition: all .7s ease-out 0s;
    -o-transition: all .7s ease-out 0s;
    transition: all .7s ease-out 0s;
  }
}

@media screen and (min-width: 1061px) {
.video-controls {
    position: absolute;
    width: 44%;
    margin-top: 7%;
	padding: 5px;
    z-index: 20;
    -webkit-transition: all .7s ease-out 0s;
    -moz-transition: all .7s ease-out 0s;
    -ms-transition: all .7s ease-out 0s;
    -o-transition: all .7s ease-out 0s;
    transition: all .7s ease-out 0s;
  }
}

@media screen and (min-width: 1141px) and (max-width: 1220px) {
.video-controls {
    position: absolute;
    width: 44%;
    margin-top: 7%;
	padding: 5px;
    z-index: 20;
    -webkit-transition: all .7s ease-out 0s;
    -moz-transition: all .7s ease-out 0s;
    -ms-transition: all .7s ease-out 0s;
    -o-transition: all .7s ease-out 0s;
    transition: all .7s ease-out 0s;
  }
}

@media screen and (min-width: 1221px) and (max-width: 1300px) {
.video-controls {
    position: absolute;
    width: 44%;
    margin-top: 8%;
	padding: 5px;
    z-index: 20;
    -webkit-transition: all .7s ease-out 0s;
    -moz-transition: all .7s ease-out 0s;
    -ms-transition: all .7s ease-out 0s;
    -o-transition: all .7s ease-out 0s;
    transition: all .7s ease-out 0s;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1560px) {
.video-controls {
    position: absolute;
    width: 44%;
    margin-top: 9%;
	padding: 5px;
    z-index: 20;
    -webkit-transition: all .7s ease-out 0s;
    -moz-transition: all .7s ease-out 0s;
    -ms-transition: all .7s ease-out 0s;
    -o-transition: all .7s ease-out 0s;
    transition: all .7s ease-out 0s;
  }
}

@media screen and (min-width: 1561px)  {
.video-controls {
    position: absolute;
    width: 44%;
    margin-top: 10%;
	padding: 5px;
    z-index: 20;
    -webkit-transition: all .7s ease-out 0s;
    -moz-transition: all .7s ease-out 0s;
    -ms-transition: all .7s ease-out 0s;
    -o-transition: all .7s ease-out 0s;
    transition: all .7s ease-out 0s;
  }
}

@media screen and (min-width: 850px) and (max-width: 980px) {	
  #play-pause4 {
    text-align: center;
    position: relative;
    margin-bottom: 12%;
    z-index: 20;
    display: block;
  }

  #play-pause3 {
    text-align: center;
    position: relative;
    margin-bottom: 12%;
    z-index: 20;
    display: block;
  }

  #play-pause2 {
    text-align: center;
    position: relative;
    margin-bottom: 12%;
    z-index: 20;
    display: block;
  }

  #play-pause1 {
    text-align: center;
    position: relative;
    margin-bottom: 12%;
    z-index: 20;
    display: block;
  }
}

@media screen and (min-width: 981px) and (max-width: 1400px) {	
  #play-pause4 {
    text-align: center;
    position: relative;
    margin-bottom: 15%;
    z-index: 20;
    display: block;
  }

  #play-pause3 {
    text-align: center;
    position: relative;
    margin-bottom: 15%;
    z-index: 20;
    display: block;
  }

  #play-pause2 {
    text-align: center;
    position: relative;
    margin-bottom: 15%;
    z-index: 20;
    display: block;
  }

  #play-pause1 {
    text-align: center;
    position: relative;
    margin-bottom: 15%;
    z-index: 20;
    display: block;
  }
}

@media screen and (min-width: 1401px) {	
  #play-pause4 {
    text-align: center;
    position: relative;
    margin-bottom: 16%;
    z-index: 20;
    display: block;
  }

  #play-pause3 {
    text-align: center;
    position: relative;
    margin-bottom: 16%;
    z-index: 20;
    display: block;
  }

  #play-pause2 {
    text-align: center;
    position: relative;
    margin-bottom: 16%;
    z-index: 20;
    display: block;
  }

  #play-pause1 {
    text-align: center;
    position: relative;
    margin-bottom: 16%;
    z-index: 20;
    display: block;
  }
}

@media screen and (min-width: 850px) and (max-width: 1060px) {
  .seek-bar {
    width: 50%;
    padding: 0 0 0 3%
  }
}

@media screen and (min-width: 1061px) and (max-width: 1440px) {
  .seek-bar {
    width: 55%;
    padding: 0 0 0 3%
  }
}

@media screen and (min-width: 1441px){
  .seek-bar {
    width: 60%;
    padding: 0 0 0 3%
  }
}



.volume-bar {
  width: 15%; 
  padding: 0 0 0 0;
}

.mute {
 padding: 0 0 0 3%; 
}

.full-screen {
 padding: 0 0 0 3%; 
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}


input[type=range]:focus::-webkit-slider-runnable-track {
    background: #cccccc;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 3px;
    background: #cccccc;
    border: none;
    border-radius: 3px;
    margin-top: -20px;
}

input[type=range]::-ms-track {
    height: 3px;
    background: #cccccc;
    border: none;
    border-radius: 3px;
    margin-top: -20px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #eaeaea;
  margin-top: -5px;
  cursor: pointer;
}

/* Firefox */
input[type=range]::-moz-range-thumb {
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #eaeaea;
  margin-top: -5px;
  cursor: pointer;
}

/* IE */
input[type=range]::-ms-thumb {
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #eaeaea;
  margin-top: -5px;
  cursor: pointer;
}

/* These fill styles aren't working, figure out later */

input[type=range]:focus::-ms-fill-lower {
    background: #FF503B;
}
input[type=range]:focus::-ms-fill-upper {
    background: #cccccc;
}
