/* ------------------------------------------------------------ Bootstrap Grid CSS ---------------------------------------------------- */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF TWO   */


.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 580px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}

/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 580px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}


/* ------------------------------------------------------------ My Styles ----------------------------------------------------------------- */ 

html {
  height: 100%;
  min-height: 100%; 
}

body {
  width: 95%;
  background-color: #fdfdfd;
  margin: 0 auto;
  font-family: "raleway",sans-serif;
  font-weight: 500;
  min-height: 100%;
}

p {
  font-size: 1rem;
  line-height: 1.3rem;
  margin: .7rem 0;
  color: #131313;
}

a {
  text-decoration: none;
  color: #FF503B;
}

a:hover {
  color: #CC3C29;
}

a:active {
  color: #7F342B;
}


h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3rem;
  margin: 3% 0 0 0;
  color: #353535;
}

h1:hover {
  color: #FF503B;
}

h1:active {
  color: #7F342B;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.1rem;
  font-weight: 300;
  margin: .5rem 0 1rem 0;
  color: #353535;
}

h3 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 600;
  color: #353535;
  margin: 0;
}

header {
    min-height: 20%;
}

.header {
  float: left;
  padding-top: 1rem;
}

nav {
  margin: 0 0 1rem 0;
  width: 100%;
  padding: 4.8rem 0 2rem 0;
  float: right;
}

nav ul {
  padding: 0;
}

nav ul li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  display: block;
  padding: 0 3rem 0 0;
  float: right;
  margin: 0;
}

nav ul li a {
  color: #353535;
  font-weight: 500;
}

nav ul li a:hover {
  color: #FF503B;
}

nav ul li a:active {
  color:#7F342B;
}

nav ul li a.current {
  color: #FF503B;  
  font-weight: 600;
}

footer {
  clear: both;
  width: 95%;
  height: 4rem;
}

section.copyright {
  float: left;
}

section.social {
  float: right;
  margin-right: 2%;
}

section.social a {
  padding-left: 20px;
}

section.about-text {
  padding: 1.7rem 3rem;
  margin-left: 3%;
  float: left;
  width: 17rem;
  background: rgba(201,204,203, 0.7); 
  border: 3px solid #eaeaea;
}


img.about-img {
  border-radius: 50%;
  border: 3px solid #eaeaea;
  float: right;
  width: 17rem;
  margin-right: 6%;
}

footer.about {
  padding: 5% 0 0 0 !important;
}

footer section.copyright.about p {
  color: #eaeaea;
}

.homepage-bg {
  background: url('../images/homepage-alt2.jpg') no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  min-height: 100%;
}

.about-bg {
  background: url('../images/about-bg.jpg') no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  min-height: 100%;
}


.home {
  clear: both;
  width: 25rem;
  padding: 2rem 3rem;
  border: 2px solid #565656;
  margin: 5% auto; 
}

.current-page {
  font-weight: 600;
}

.sticky {
  position: absolute;
  bottom: 0; 
}

.sticky-about {
  position: absolute;
  bottom: 0; 
}


.photography {
  width: 70%;
  max-width: 960px;
  padding: 2rem 0;
}

.first {
 clear: both; 
}

.first-photo {
  margin-top: -1.5rem;
}

.caption-detail {
  margin-top: .5rem; 
  font-style: italic;
}

.photo-set {
 clear: both; 
}

video {
  width: 95%;
  height: auto;
  padding-bottom: 1rem;
}

.video-text {
  padding-right: 2.5rem;
}

.thumb {
  width: 95%;
  height: auto;
  margin-bottom: 1rem;
}

.thumb-overlay {
  position: relative;
  z-index: 5;
  width: 95%;
  height: auto;
  margin-bottom: 1rem;
  float: left;
}

.thumbcaption {
  position: absolute;
  width: 45%;
  z-index: 10;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 1rem;
  opacity: 0;
   -webkit-transition: all .7s ease-out 0s;
  -moz-transition: all .7s ease-out 0s;
  -ms-transition: all .7s ease-out 0s;
  -o-transition: all .7s ease-out 0s;
  transition: all .7s ease-out 0s;
}

.thumbcaption h3 {
  color: #ffffff;
  font-size: 1.5rem;
  padding: 25% 0 0 0;
  text-align: center;
}

.thumbcaption p {
  color: #ffffff;
  text-align: center;
}

.thumbcaption-mobile {
  display: none;
}

/*  Font Awesome Icon styline */

i {
  color: #353535;
}

i:hover {
  color: #FF503B;
}

i:active {
  color:#7F342B; 
}

i.about-social {
  color: #eaeaea;
}

i.about-social:hover {
  color: #FF503B;
}

i.about-social:active {
  color: #7F342B;
}



/* Video controls */

.video-container {
  width: 100%;
  height: auto;
}

#video-controls i {
  color: #eaeaea; 
}


#video-controls i:hover {
  color: #FF503B; 
}

#play-pause i {
  color: #FF503B;
}

#video-controls {
    position: absolute;
    width: 44%;
    margin-top: 9%;
	padding: 5px;
    z-index: 20;
}
	
#play-pause {
  text-align: center;
  position: relative;
  margin-bottom: 15%;
  z-index: 20;
  display: block;
}

#seek-bar {
  width: 60%;
}

#volume-bar {
  width: 15%; 
  padding: 0 0 0 3%;
}

#full-screen {
 padding: 0 0 0 3%; 
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}


input[type=range]:focus::-webkit-slider-runnable-track {
    background: #cccccc;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    background: #cccccc;
    border: none;
    border-radius: 3px;
    margin-top: -20px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #eaeaea;
  margin-top: -5px;
  cursor: pointer;
}

/* Firefox */
input[type=range]::-moz-range-thumb {
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #eaeaea;
  cursor: pointer;
}

/* IE */
input[type=range]::-ms-thumb {
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #eaeaea;
  cursor: pointer;
}

/* These fill styles aren't working, figure out later */

input[type=range]:focus::-ms-fill-lower {
    background-color: #777777;
}
input[type=range]:focus::-ms-fill-upper {
    background-color: #cccccc;
}
