
  html {
    font-family: "Century Gothic", sans-serif;
}

body {
  width: 95%;
  margin: auto;
}

h1 {
  font-size: 2em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2 {
  font-size: .8em;
  font-family: "Century Gothic", sans-serif;
}

