body {
  width: 95%;
  margin: 0 auto;
  font-family: "raleway",sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 3rem;
  font-family: "raleway",sans-serif;
  font-weight: 900;
  line-height: 3rem;
  margin: 3% 0 0 0;
  color: #707070;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.1rem;
  font-family: "raleway",sans-serif;
  font-weight: 100;
  margin: 1% 0 0 0;
  color: #707070;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "raleway",sans-serif;
  font-weight: 400;
  color: #707070;
}

p {
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: "raleway",sans-serif;
  font-weight: 300;
  color: #707070;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #256ed3;
}

a:hover {
  color: #4184e0;
}

nav {
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 0 0 4% 0;
}

nav ul {
  padding: 0;
}

nav ul li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  display: block;
  padding: 0 5% 0 0;
  float: left;
  margin: 0;
}

nav ul li a {
  color: #707070;
  font-weight: 300;

}

nav ul li a:hover {
  color: #bbbbbb;
}

figure {
  margin: 0;
  padding: 0;
}

#homepagebanner {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 3% 0;
}

footer {
  width: 100%;
  height: 50px;
  padding: 5% 0 0 0;
}

section.copyright {
  float: left;
}

section.social {
  float: right;
  width: 150px;
}

section.social a {
  padding-left: 20px;
  padding-bottom: 20px;
}

iframe {
  width: 500px;
  height: 281px;
  border: none;
}
  
figcaption {
  font-size: .8rem;
  color: #707070;
  
}